body {
    background-color: #fff;
    color: #333;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    min-width: 300px;
    max-width: auto;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
h1 {
    display: flex;
    color: #333;
    align-items: center;
    justify-content: center;
    max-width: 2fr;
    margin: auto;
}

.principal {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 2fr;
    text-align: center;
    justify-content: center;
    margin: auto;
}

img {
    max-width: 300px;
    min-width: 150px;
    height: auto;
    margin-top: 20px;
}

.pix {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}